<!doctype html>
<html lang="{{ metadata.language }}">
<head>
{% include "partials/seo.njk" %}
</head>
<body>
{% include "partials/navbar.njk" %}
{{ content | safe }}
{% include "partials/footer.njk" %}
</body>
</html>
